footer p{
	margin:0 0 16px;

}
footer{
	font-size:15px;
}
#custombtn{
	color:white;
}
.addpost{
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 200;
    transition: all 0.4s ease;
}
.addpost:hover{
	transform: scale(1.3);
}

.addpost i {
	    font-size: 3em;
    color: #28a745;
}
.addpost i:hover{
	color:#1f7733;
}
.width20{
	width:20%;
}
.ptag p{
	font-size: 1.5em;
}
.div-image{
	transition: all 1s ease;
}
.div-image:hover{
	transform: scale(1.3);
}
.post-meta-data{
	background: blue;
	padding:1em;
	position: absolute;
	bottom:0%;
	left:20%;
	border-radius: 20%;
}
/* --------------- Blog Carousel ------------ */
main .bag-image{
	 background: url('../img/Abract01.png');
	 background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

}
main .blog{
    background: url('../img/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
  
    margin: 0 5vw;


}

main .blog .blog-post{
    padding-top: 6rem;
    padding-left: 4em;
    padding-right: 2em;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 76%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    height:35em;
}
main .image-owl{
	height: 40%;
}
main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;

}
main .dashboard-content span{
    display: block;
    margin:2em;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}
.fas .fa-edit, .fas .fa-trash{
	font-size: 26px;
}


/* -------x------- Blog Carousel -----x------ */
@media (max-width: 1250px){
	main .blog-post .blog-content{
	width:80%;
}
}

@media (max-width: 1000px){
	main .blog-post .blog-content{
	width:75%;
}
}
@media (max-width: 770px){
	main .blog-post .blog-content{
	width:85%;
}
}
@media (max-width: 650px){
	main .blog-post .blog-content{
	width:75%;
}
}
@media (max-width: 450px){
	main .blog .blog-post {
    padding-top: 6rem;
    padding-left: 1%;
    padding-right: 0em;
	}
    main .blog-post .blog-content{
    width: 84%;
    }

}