footer p{
	margin:0 0 16px;

}
footer{
	font-size:15px;
}
#custombtn{
	color:white;
}
.addpost{
    position: fixed;
    bottom: 4%;
    right: 2%;
}
.addpost i {
	    font-size: 3em;
    color: #28a745;
}
.width20{
	width:20%;
}
.ptag{
	font-size: 1.5em;
}