<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.8">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>Sliding_login_page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cssfinal2.css')}}">
	<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
	
	<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>


<div class="container" id="container">
	<button class="close" onclick="window.location.href='/'"><i class="fa fa-times" aria-hidden="true"></i></button>

	<!-- 
////////////////////////////sign up form///////////////////////////// -->
	<div class="form-container sign-up-container">
		

		<form action="/signup" method="post">
			<h1>Create Account</h1>
			
			<input type="text" placeholder="Name" name="sname" />
			<input type="text" placeholder="Email" name="semail" />
			<input type="password" placeholder="Password" name="spass"/>
			<button>Sign Up</button>
		</form>
	</div>


<!-- ///////////////////////////////login form//////////////////////////////
 -->	<div class="form-container sign-in-container">
		<form action="/dashboard" method="post">
			<h1>Sign in</h1>
			
			<input type="text" placeholder="Email" name="uemail" />
			<input type="password" placeholder="Password" name="pass"/>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>


	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="{{url_for('static', filename='js/js.js')}}"></script>

</body>
</html>
