{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    {% set fname = 'img/'+  image  %}
    <header class="masthead mb-0" style="background-image: url('{{ url_for('static', filename=fname) }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            
            <div class="site-heading">
              <h1>{{blogname}}</h1>
              <span class="subheading">{{tagline}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="addpost"><a href="/dashboard"><i class="fas fa-plus-circle"></i></a></div>
    <div class="bg-light py-5">
    <div class="container bg-white shadow py-5">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


     <!-- Todo: Fetch it using for loop from the database -->

     {% for post in posts %}    
          <div class="post-preview mb-3">
            
            <a href="/post/{{post.slug}}">
              <h2 class="post-title">{{ post.title }}

              </h2>

              <h3 class="post-subtitle mb-3">
                {{post.tagline}}
              </h3>
              {% set fname = 'uploaded/'+  post.img_file  %}
              <img src="{{ url_for('static', filename=fname) }}" class="img-fluid">
            
            <p class="post-meta">Posted by
              <a href="#">{{post.poster}}</a>
              on {{post.date}}</p>

          </div>

          {{post.content[0:243]}}...
        </a>
          <hr class="mb-5">

          {% endfor %}


          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-success rounded float-left" href="{{prev}}"> &larr;Previous</a>
            <a class="btn btn-success rounded float-right" href="{{next}}">Next &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
